<div class="Menu">
  <div class="Bg"></div>
  <div class="Navbar">
    <div class="Logo">
      <div class="Vector"></div>
      <div class="Vector"></div>
      <img src="../../assets/images/logo.svg">
    </div>
    <div class="NavbarMenu">
      <div class="BtnPrimary">
        <a (click)="scrollTo('whatWeDoSection')" class="ButtonNav">Services</a>
      </div>
      <div class="BtnPrimary">
        <a (click)="scrollTo('brandsSection')" class="ButtonNav">Industries</a>
      </div>
      <div class="BtnPrimary">
        <a (click)="scrollTo('caseStudiesSection')" class="ButtonNav">Cases</a>
      </div>
      <div class="BtnPrimary">
        <a (click)="scrollTo('ContactUsSection')" class="ButtonNav">Contact Us</a>
      </div>
    </div>
    <div class="BtnPrimary">
      <div class="Button">Let’s Talk</div>
    </div>
  </div>
</div>
