<div id="ContactUsSection" class="Footer">
    <div class="ContactHeading">
        <div class="Contact">Contact us</div>
        <div class="Line"></div>
    </div>
    <div class="Section">
        <div class="LeftContent">
            <div class="HaveAProjectInMindLetSMakeItHappen">Have a project in mind?<br />Let's make it happen</div>
        </div>
        <div class="RightContent">
            <div class="ContactInfo">
                <div class="ContactInfoLeft">
                    <span class="Address">22 Street Name, Suburb, 8000,<br>Cape Town, South Africa</span>
                </div>
                <div class="ContactInfoRight">
                    <span class="Phone">+27 21 431 0001</span>
                    <span class="Email"><a href="mailto:enquiry@website.co.za">enquiry@website.co.za</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomList">
        <div class="FooterLinks">
            <div class="Terms">Terms of service</div>
            <div class="Privacy">Privacy policy</div>
            <div class="Impressum">Impressum</div>
        </div>
        <div class="SocialLinks">
            <div class="SocialColumn">
                <div class="Facebook">Facebook</div>
                <div class="Instagram">Instagram</div>
                <div class="Twitter">Twitter</div>
            </div>
            <div class="SocialColumn">
                <div class="Github">Github</div>
                <div class="Linkedin">Linkedin</div>
                <div class="Teams">Teams</div>
            </div>
            <div class="SocialColumn">
                <div class="Youtube">Youtube</div>
                <div class="Behance">Behance</div>
                <div class="Dribbble">Dribbble</div>
            </div>
        </div>
        <div class="ExploreOpenJobs">Explore open jobs<br /><br />©2000—2023 Company Name</div>
    </div>
</div>
