<div id="caseStudiesSection" class="spacing">
<div class="Heading">
    <div class="RectangleHeader"></div>
    <div class="CaseStudiesText">Case studies</div>
  </div>
<div class="CaseStudies">
    <div class="CardSquare">
        <div class="CardImage">
          <img class="X960" src="../../assets/images/olympian.jpeg" alt="Card Image" />
        
        <div class="CardContent">
          <div class="Rectangle1"></div>
          <div class="CardTitle">The Olympian</div>
          <div class="LoremIpsum">The only athlete in the world to do her Olympic routine in 2020.</div>
        </div>
      </div>
      </div>
    <div class="CardSquare">
      <div class="CardImage">
        <img class="X960" src="../../assets/images/dragon.jpeg" alt="Card Image" />
      </div>
      <div class="CardContent">
        <div class="Rectangle1"></div>
        <div class="CardTitle">The Savings Jar</div>
        <div class="LoremIpsum">Grow your savings treasure and grow your dragon.</div>
      </div>
    </div>
    <div class="CardSquare">
      <div class="CardImage">
        <img class="X960" src="../../assets/images/skhokho.jpeg" />
      </div>
      <div class="CardContent">
        <div class="Rectangle1"></div>
        <div class="CardTitle">Skhokho seMali</div>
        <div class="LoremIpsumDolorSitAmetConsecteturAdipiscingElitPhasellusNecIaculisMauris">Helping South Africans become #CashCleva with Skhokho and TymeBank.</div>
      </div>
    </div>
    
  </div>
</div>